/* --------------- Centrador de Contenido --------------- */
.derecha {
    text-align: right;
}

.izquierda {
    text-align: left;
}

.abajo {
    vertical-align: text-bottom;
}

.centrado {
    text-align: center;
}

.card{
    margin-top: 20px;
    margin-bottom: 20px;

}
