{% extends "layout.html" %}
{% load static %}

{% block title %} Tienda Verde {% endblock %}

{% block content %}
    <!-- --------------- Container para la Responsividad del Sitio --------------- -->
    <div class="container-fluid">

        <!-- --------------------------- Descripcion --------------------------- -->
        <div class="row">
            <div class="col-2"></div>
            <div class="col">
                <img src="{% static 'images/logo.jpg' %}" alt="logo image for testing">
            </div>

            <div class="col centrado">
                <br><br><br><br><br><br>
                <p>Tienda Verde" es una pequeña empresa local dedicada a la venta de productos ecológicos y sostenibles
                </p>
            </div>
            <div class="col-2"></div>

        </div>
    </div>
{% endblock %}